ion-toolbar{
    color: white;
    --ion-background-color: linear-gradient(200deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 23.5%, rgba(29,29,29,1) 33.33%) !important;
}

.readButton{
     float:right;
 }